<html>
    <link rel="stylesheet" href="/public/styles.css">
<header>
  <a href="/"><h4>Video Game Library(header)</h4></a>
  <div>
    <a class="header-button" href="/">Homepage</a>
  </div>
</header>
</html>