<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <div class="genre-details">
            <h2 class="details-title">Browse Game Library By Genre</h2>
            <div class="search-btns">
                <div class="genre-buttons">
                    <% genres.forEach((genre) => { %>
                        <a class="details-btn" href="/genres/<%= genre.id %>"><%= genre.genre %></a>
                    <% }) %>
                </div>
                <!-- FOR EACH ON THE GENRES, CREATE A BUTTON THAT TAKES THEM TO /genres/:genreID that renders new page with games of that genre -->
                <a class="details-btn" id="back-home" href="/"><b>Back to Home Page.</b></a>
            </div>  
        </div>
    </body>
</html>