<!-- Form to add a new game -->
<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <form class="new-game-form" method="POST" action="/new">
      <label for="gameName"><b>Name:</b></label>
      <input type="text" id="gameName" name="gameName" />
      <label for="yearPublished"><b>Year Published:</b></label>
      <input type="number" id="yearPublished" name="yearPublished" />
      <fieldset class="genre-checkbox">
        <legend>Select Genre:</legend>
        <input type="checkbox" id="action" name="action" value="action">
        <label for="action">Action</label>
        <input type="checkbox" id="adventure" name="adventure" value="adventure">
        <label for="adventure">Adventure</label>
        <input type="checkbox" id="RPG" name="RPG" value="RPG">
        <label for="RPG">RPG</label>
        <input type="checkbox" id="FPS" name="FPS" value="FPS">
        <label for="FPS">First Person Shooter</label>
        <input type="checkbox" id="TPS" name="TPS" value="TPS">
        <label for="TPS">Third Person Shooter</label>
        <input type="checkbox" id="sports" name="sports" value="sports">
        <label for="sports">Sports</label>
        <input type="checkbox" id="horror" name="horror" value="horror">
        <label for="horror">Survival Horror</label>
        <input type="checkbox" id="platformer" name="platformer" value="platformer">
        <label for="platformer">Platformer</label>
        <input type="checkbox" id="rogue" name="rogue" value="rogue">
        <label for="rogue">Rogue-like</label>
        <input type="checkbox" id="strategy" name="strategy" value="strategy">
        <label for="strategy">Strategy</label>
        <input type="checkbox" id="puzzle" name="puzzle" value="puzzle">
        <label for="puzzle">Puzzle</label>
        <input type="checkbox" id="racing" name="racing" value="racing">
        <label for="racing">Racing</label>
      </fieldset>
      <label for="gameDeveloper">Game developer: </label>
      <input type="text" id="gameDeveloper" name="gameDeveloper">
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
