<!-- TEMPLATE to view contents of each individual message -->
<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="game-details">
            <h2 class="details-title">Game Details</h2>
            <div class="game-detail-box">
                <img class="cover-image" src=<%= game[0].cover %> alt="Video game cover art">
                <p><b>User: </b> <%= game[0].name %></p>
                <p><b>Text: </b> <%= game[0].year %></p>
            </div>
            <a href="/"><b>Back to Game Library.</b></a>  
        </div>
    </body>
</html>