<html>
    <head>
        <title>Games Inventory</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
       <h2 class="index-title"><%= title %></h2>
       <ul class="games-list">
        <!-- games for each -->
        <% games.forEach((game) => { %>
            <li>
                <div class="message-block">
                    <img class="cover-image" src=<%= game.cover %> alt="Video game cover art">
                </div>
            </li>
        <% }) %>
       </ul>
    </body>
</html>