body {
    margin: 0;
    padding: 0;
    background-color: #7effea;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background-color: rgb(10, 53, 57);
    box-shadow: 0px 3px 5px grey;
}

.header-link {
    text-decoration: none;
}

.header-title {
  color: rgb(49, 243, 6);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40pt;
  font-style: italic;
  text-decoration: none;
  font-weight: bold;
  text-shadow:
    0 0 0px #fff,
    0 0 0px #fff,
    0 0 0px #fff,
    0 0 20px #0fa,
    0 0 20px #0fa,
    0 0 60px #0fa,
    0 0 70px #0fa,
    0 0 80px #0fa;
}

/* INDEX and GAME BLOCKS */

.top-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-title {
    align-self: center;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 42px;
}

.index-top-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-link {
    background-color: rgb(255, 122, 122);
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: 1px solid black;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.btn-link:hover {
    background-color: rgb(254, 72, 72);;
}



.games-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

.game-block { 
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 540px;
    background-color: rgb(255, 137, 247);
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 5px grey;

}

.cover-image {
    align-self: center;
    box-shadow: 5px 5px 5px grey;
}

.game-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#more-info {
    font-size: 15px;
}

.a-button { 
    background-color: #00cfd6; 
    color: rgb(0, 0, 0); 
    text-decoration: none;
    border: 0.5px solid black; 
    padding: 5px; 
    border-radius: 5px; 
    font-size: 15px; 
    cursor: pointer; /*  cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.a-button:hover {
  background-color: #0056b3; 
}

.a-button:active {
  background-color: #004085; 
}

.cover-image {
    width: 210px;
    height: 300px;
    object-fit: contain;
    background-color: rgb(61, 61, 61);
}

/* GENRES and DEVS pages */

.genre-details {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.details-title {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.search-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.details-btn {
    background-color: #00cfd6; 
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0); 
    text-decoration: none;
    border: 0.5px solid black; 
    padding: 5px; 
    border-radius: 5px; 
    font-size: 15px; 
    cursor: pointer; /*  cursor on hover */
    transition: background-color 0.3s ease; 
}

.details-btn:hover {
    background-color: #02b2b8; 
}

#back-home {
    padding: 8px;
}

/* game details page */

.game-details-page {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 20px;
    align-items: center;
}

/* Game FORMS */

.form-main-title {
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
}

.new-game-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 3px;
}

/* errors */
.errors-list {
    display: flex;
    flex-direction: column;
    justify-self: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

/* no devs page */

.no-dev {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.dev-title {
    font-family: Arial, Helvetica, sans-serif;
}